{% extends "admin/base_admin.html" %}

{% block title %}Members{% endblock %}

{% block content %}


<h2>Registered Members</h2>

<br>

<table class="message-table">

    <thead>

        <tr>
            <th>Name</th>
            <th>County</th>
            <th>Driver</th>
            <th>Status</th>
            <th>Joined</th>
            <th>Action</th>
        </tr>

    </thead>

    <tbody>

        {% for member in members %}

        <tr>

            <td>{{ member.full_name }}</td>

            <td>{{ member.county }}</td>

            <td>

                {% if member.is_driver %}
                    🚛 Yes
                {% else %}
                    👤 No
                {% endif %}

            </td>

            <td>

                {% if member.status == "Approved" %}

                    <span style="color:green;font-weight:bold;">
                        🟢 Approved
                    </span>

                {% elif member.status == "Rejected" %}

                    <span style="color:red;font-weight:bold;">
                        🔴 Rejected
                    </span>

                {% else %}

                    <span style="color:orange;font-weight:bold;">
                        🟡 Pending
                    </span>

                {% endif %}

            </td>

            <td>

                {{ member.created_at.strftime("%d %b %Y") }}

            </td>

            <td>

                <a href="{{ url_for('admin.view_member', id=member.id) }}">
                    View
                </a>

            </td>

        </tr>

        {% endfor %}

    </tbody>

</table>

{% endblock %}